/* main styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Chivo Mono", monospace;
  background-color: rgb(39, 37, 37);
  color: white;
}

a {
  color: rgb(115, 171, 255);
}

/* top navbar */
header {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 0;
  padding: 0.4em 0.75em 0.4em 0.75em;
  background-color: rgb(43, 51, 42);
}

/* main content */
main {
  max-width: 735px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.75em;
}
